Utilizamos el teorema de Bayes que relaciona las probabilidades de dos eventos $A$ y $B$ con las probabilidades condicionadas entre ellos:
    $P(A|B) = \frac{P(B|A)P(A)}{P(B)}$

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [2]:
#utilizamos los datos del titanic que limpiamos en Regresión Logística
df=pd.read_csv('titanic_clean.csv')
df.head()

   Unnamed: 0  Survived  Pclass  Sex  SibSp  Parch  Fare  Embarked
0           0         0       3    0      1      0     0         0
1           1         1       1    1      1      0     3         1
2           2         1       3    1      0      0     0         0
3           3         1       1    1      1      0     3         0
4           4         0       3    0      0      0     0         0

In [3]:
X_data = df.drop(['Unnamed: 0', 'Survived'], axis=1)
X_data.head()

   Pclass  Sex  SibSp  Parch  Fare  Embarked
0       3    0      1      0     0         0
1       1    1      1      0     3         1
2       3    1      0      0     0         0
3       1    1      1      0     3         0
4       3    0      0      0     0         0

In [4]:
y_survived = df['Survived']
y_survived.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [5]:
#Separamos los datos de entrenamiento y de testeo
X_train, X_test, y_train, y_test = train_test_split(X_data, y_survived, test_size=0.3, random_state = 42)

La documentación sobre Gaussian Naive Bayes (y otros modelos Naive Bayes) se encuentran en https://scikit-learn.org/stable/modules/naive_bayes.html

In [6]:
#creamos nuestro modelo Gausseano de Naive Bayes
gnbModel = GaussianNB()
gnbModel.fit(X_train, y_train)

GaussianNB()

In [7]:
y_predict = gnbModel.predict(X_test)

In [ ]:
#analizamos nuestro modelo, contrastando los valores predichos con los de testeo
cm = confusion_matrix(y_test, y_predict)